
a {
    cursor: pointer;
}
* {
    text-decoration: none;
}

.main-container { 
    font-family: Quicksand;
    /* max-width: 100vw; */

}

.page-header {
    /* max-width: inherit; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 36px 31px 36px;
}
.left-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 44px;
}
.signup-btn, .login, .logo {
    white-space: nowrap;
}
.logo {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
    letter-spacing: 0.64px;
}
.btn-explore {
    position: relative;
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 4px;
    background: #0F8277;
    color: #EEE;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}
.btn-explore::after {
    padding-left: 8px;
    content: '\005E';
    transform: rotate(180deg);
}
.explore-menu {
    position: absolute;
    left: 0;
    top: 42px;
    width: 384px;
    padding: 16px 12px 33px 12px;
    background: #FFF;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    color: #000;
    text-align: start;
    display: none;

}
.btn-explore:hover .explore-menu {
display: block;

}

.goals {
    border-top: 1px solid #000;
    padding-top: 40px;
}
.explore-topic {
    margin-top: 40px;
    font-weight: 700;
}
.menu-item {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    padding-bottom: 16px;
}
.what-to-learn {
    display: block;
    width: 330px;
    padding: 10px 0 10px 12px;
    border-radius: 4px;
    border: 1px solid #5C5C5C;
    background-image: url(../images/icons/search.svg);
    background-repeat: no-repeat;
    background-position: right;
    color: #5C5C5C;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; /* 19.2px */

}

.right-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-menu {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.right-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 104px;
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}
.nav-item {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}
.btn-menu {
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.login {
    color: #0F8277;
    text-align: center;
    font-size: 16px;    
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}
.signup-btn {
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    background: #0F8277;
}
.signup-btn-link {
    color: #EEE;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}
.hero-block {
    height: 602px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    border-radius: 12px;
    background: #DBF3ED;

    background-image: url(../images/hero-img.png);
    background-repeat: no-repeat;
    background-position: 96% 50%;

}
.hero-block-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 110px;
}
.hero-heading {
    display: inline-block;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%; /* 67.2px */
}
.section-text {
    width: 482px;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%; /* 26.4px */
}
.hero-button {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}
.page-btn {
    padding: 10px 12px;
    border-radius: 4px;
    border: 2px solid #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
    cursor: pointer;
}
.page-btn:hover {
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5);

}
.hero-start {
    background: #0F8277;
    color: #EEE;
    /* width: 132px; */
}
.hero-more {
    background: #DBF3ED;
    color: #0F8277;
    /* width: 115px; */
}
.text-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    color: #000;
    margin-bottom: 40px;
}

.intro {
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%; 
}

.heading {
    font-size: 40px;    
    font-weight: 700;
    line-height: 120%;
}

.text {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}

.academic-training {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}
.training-card {
    width: 100%; /* 416px; */
    height: 480px;
    border-radius: 8px;
    border: 1px solid #DADADA;
    position: relative;
}
.training-card:hover {
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5);
}
.training-image {
    width: 100%;
    height: 270px;
    overflow: hidden;

}
.content-wrapper {
    box-sizing: border-box;
    margin: 24px 16px;
}
.education-wrapper {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.education-institution {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}
.education-heading {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
}
.diploma {
    position: absolute;
    bottom: 24px;
    left: 16px;
}
.get-diploma {
    padding-left: 12px;
    color: #0F8277;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}
.diploma-icon {
    position: relative;
    bottom: -4px;
}


.popular-courses {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 24px;
margin-bottom: 40px;
}
.course-card {
    width: 100%; /* 306px; */
    height: 480px;
    border-radius: 8px;
    border: 1px solid #DADADA;
    position: relative;
}
.course-card:hover {
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5);

}
.course-image {
    width: 100%;
    height: 270px;
    overflow: hidden;
}

.course {
    position: absolute;
    bottom: 24px;
    left: 16px;
    color: #0F8277;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}
.more-courses-btn {
    margin: 0 50%;
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%; /* 24px */

    appearance: none;
    border: none;
    background-color: #fff;
    width: 185px;
}
.more-courses, .arrow {
display: inline-block;
}
.arrow {
    padding-left: 16px;
    position: relative;
    top: 4px;
}
.section-container {
    /* max-width: inherit; */
    margin: 0px 36px 80px 36px;
}
.featured-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 24px;
    overflow-x: hidden;
    margin: 40px 0 40px 0;
}
.featured-category {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.feature-heading {
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%; /* 24px */
    margin-bottom: 10px;
}
.feature-text {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}
.partners, .prices-container {
    background-color: #DBF3ED;
    text-align: center;
    padding: 80px 36px;
}

.partners-icons {
    display: flex;
    justify-content:space-around;
    gap: 36px;
    align-items: center;
}
.partners-heading {
    display: inline-block;
    margin: 0 auto 0 auto;
    width: 871px;
    padding-bottom: 60px;

}
.partners-img {
    display: block;
    width: 100%;
    height: fit-content;
}

.business-container {
    padding: 80px 36px 70px 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.business-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.business-heading {
    width: 636px;
}
.business-btn {
    background: #0F8277;
    color: #EEE;
    width: 131px;
    box-sizing: content-box;
}
.business-text {
    width: 568px;
}
.business-icons {
    display: grid;
    grid-template-columns: 196px 196px 196px;
    grid-template-rows: 136px 136px 136px;
    background-color: #BABABA;
    grid-gap: 1px;
}
.business-img {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prices-container {
    /* max-width: inherit; */
    padding: 80px 36px 100px 36px;
}
.price-all-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    margin-top: 40px;
}
.price-plan {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    transition: transform 0.5s;
}
.price-plan:hover {
    transform: scale(1.02);
}
.price-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 27px;
    padding-bottom: 48px;
    border-bottom: 1px solid #0F8277;
}
.middle-info {
    border-bottom: 1px solid #fff; 
}
.price-info, .price-options {
    width: 304px;
}

.price-options {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.price {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%; /* 48px */
}
.price-period {
    padding-left: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    text-transform: uppercase;
}
.price-plan:nth-child(2) {
    color: #fff;
    background: #0F8277;
}
.white {
    color: #fff;
}
.middle-btn {
border: 2px solid #FFF;
background: #0F8277;
color: #fff;
}
.option-item {
    padding-left: 32px;
    text-align: start;
}
.tick {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color:  #0F8277;
    position: relative;
    top: 7px;
    left: -32px;
}
.tick:after {
    content: "";
    position: absolute;
    display: block;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 7.5px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.middle-tick {
    background-color:  #fff;
}
.middle-tick::after {
    content: "";
    position: absolute;
    display: block;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 7.5px;
    border: solid #0F8277;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.students-block {
    padding: 80px 38px;
}
.students-block .heading {
    text-align: center;
}
.students-portfolio {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 24px;
    
}
.student-photo {
    width: 100%;
}
.student-photo:hover {
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5);
}
.student-9 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.contact {
    /* max-width: inherit; */
    background-image: url(../images/form-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00000099;
    background-position: center;

}
.darken {
    background: rgba(0, 0, 0, 0.60);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px 0 48px 0;
    align-items: center;

}
.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    gap: 24px;
    border-radius: 24px;
    background-color: #DBF3ED;
    width: 565px;
    height: auto;
    padding: 30px;
}
.form-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0 15px 0 15px;
}
.form-label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px;

    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px; /* 109.091% */

}
.form-input {
    width: 505px;
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    padding: 12px;
    text-align: start;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}
.form-input:hover {
    border: 2px solid #5C5C5C;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5)
}

.form-btn {
    background: #0F8277;
    color: #F6FDFF;
    width: 196px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
}
.page-footer {
    /* max-width: inherit; */
    padding: 64px 36px;
    display: flex;
    justify-content: space-between;
}
.footer-text {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    width: 306px;
    margin-top: 16px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 60px;
}
.social-media {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.social-img {
    display: block;
    width: 32px;
    height: 32px;
}
.img-insta {
    background-image: url(../images/social-media/instagram.svg);
}
.img-fb {
    background-image: url(../images/social-media/facebook.svg);
}
.img-in {
    background-image: url(../images/social-media/linkedin.svg);
}
